.x-button,
.disabled {
  padding: 10px 10px;
  border: none;
  margin: 0px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  background-color: #dfdfdf;
  color: white;
  transition: background-color ease 0.2s, transform ease-in-out 0.1s;
}

.disabled {
  background-color: #e8e8e8 !important;
  color: rgba(187, 187, 187, 0.692);
  cursor: not-allowed;
}

.dark-theme .disabled {
  background-color: rgb(40, 55, 77) !important;
  color: rgba(79, 90, 122, 0.692);
}

.x-button:active {
  filter: brightness(0.85);
  transform: scale(0.98);
}

.button-enable {
  width: 25px;
  background-color: #007bff;
  height: 7px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.button-enable-both-side {
  width: 25px;
  background-color: #007bff;
  height: 7px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.track {
  cursor: pointer;
  width: 25px;
  min-width: 25px;
  background-color: #d0d0d0;
  height: 8px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  transition: background-color ease 0.2s;
}

.track-circle {
  width: 10.5px;
  height: 11px;
  background-color: #ffffff;
  border: 1px solid #007bff;
  border-radius: 60%;
  transition: transform ease 0.2s, border ease 0.2s;
}

.track-circle.enable {
  transform: translateX(120%);
}
