.info-tooltip-container {
  position: absolute;
  padding: 2px 5px 5px 5px;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
}

.info-tooltip-container.visible {
  opacity: 0.85;
  visibility: visible;
  background-color: #000000;
}

.info-tooltip-content {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  white-space: nowrap;
  font-size: 11px;
  color: white;
}

.info-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.info-tooltip-top {
  bottom: calc(100% - 15px);
  left: 50%;
  transform: translateX(-50%);
}

.info-tooltip-top .info-tooltip-arrow {
  top: 99%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px 6px 0px 6px;
  border-color: #000 transparent transparent transparent;
}

.info-tooltip-bottom {
  top: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%);
}

.info-tooltip-bottom .info-tooltip-arrow {
  bottom: 99%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #000 transparent;
}

.info-tooltip-left {
  right: calc(100% + 8px);
  top: 50%;
  transform: translateY(-50%);
}

.info-tooltip-left .info-tooltip-arrow {
  left: 99%;
  top: 50%;
  transform: translateY(-50%);
  border-width: 6px 0 6px 6px;
  border-color: transparent transparent transparent #000;
}

.info-tooltip-right {
  left: calc(100% + 8px);
  top: 50%;
  transform: translateY(-50%);
}

.info-tooltip-right .info-tooltip-arrow {
  right: 99%;
  top: 50%;
  transform: translateY(-50%);
  border-width: 6px 6px 6px 6px;
  border-color: transparent #000 transparent transparent;
}
