.sections {
  border: 1px solid #d6d1d1;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  min-width: 240px;
}

:global(.dark-theme) .sections {
  border: 1px solid rgb(100, 111, 122);
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  justify-content: flex;
  width: 100%;
  padding: 0px 0px;
  box-sizing: border-box;
  font-weight: bold;
  background-color: inherit;
  font-size: 20px;
}
